<%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/navigation.ejs') %>
<main>
        cart 
    <% if (products.length > 0){%> 
    <div class="grid">
        <% for (let product of products){ %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"> 
                        <%= product.id %>
                    </h1>
                    <div class="card__image">
                        <img src="<%= product.imageUrl%>" alt="" class="shop__thumbnail">
                        <!-- https://images.unsplash.com/photo-1509021436665-8f07dbf5bf1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2534&q=80 -->
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">
                               Quantity: <%= product.cartItem.quantity%>
                        </h2>
                        <h2 class="product__price">
                                <%= product.price%>
                        </h2>
                        <p class="product__description">
                                <%= product.description%>
                                <%=product.price%>
                        </p>
                    </div>
                    <div class="card__actions">
                        <a href="/products/<%=product.id%>">Check details</a>

                        <form action="/shop/cart-delete" method="post">
                            <input type="hidden" name="productId" value="<%=product.id%>">
                            <input type="hidden" name="productPrice" value="<%=product.price%>">
                            <button class="btn" type="submit">
                                remove from cart
                            </button>
                        </form>

                        <form action="/shop/cartX" method="post">
                            <input type="hidden" name="productId" value="<%=product.id%>">
                            <button class="btn" type="submit">
                                add +
                            </button>
                        </form>

                        <form action="/shop/cartX" method="post">
                            <input type="hidden" name="productId" value="<%=product.id%>">
                            <button class="btn" type="submit">
                                remove -
                            </button>
                        </form>
                        
                    </div>
                </header>
            </article>
            <%  } %>
            <div>
                <form action="/shop/create-order" method="post">
                    <button type="submit" class="btn">Order</button>
                </form>
            </div>
    </div>  
    <% } else{ %>
    <h1>No products?</h1> 
    <% } %>
</main>
       
        <!-- Build the CART Page! -->
        <!-- put the Cart item into this page as a variable -->
        <!-- set delete buttons to it -->
        <!-- Check if it deletes the right thing from cart.json -->
     
<%- include('../partials/end.ejs') %>
